@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-color: black;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
  font-weight: 700;
}

nav img {
  height: 7rem;
  padding: 20px;
}

nav .Menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 20px;

}

nav .Menu ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  list-style: none;
}

nav .Menu button {
  background-color: #7C3AED;
  color: white;
  cursor: pointer;
}

nav .Menu button:active {
  scale: 0.95;
}

nav ul li {
  color: white;
}

nav ul a {
  text-decoration: none;
}

nav button {
  padding: 10px 20px;
  font-weight: 700;
  border-radius: 8px;
  border: none;
}

.hero-Sec {
  height: 100vh;
  width: 100%;
  background-image: url(./assets/Hero-Image.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
  /* Isse text upar aur button niche aayega */
  justify-content: flex-start;
  /* Horizontal Center */
  align-items: center;
  /* Vertical Center */
  text-align: center;
}

.hero-Sec .content {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  position: relative;
  cursor: none;
}

.hero-Sec h1 {
  font-size: 80px;
}

.hero-Sec h1 span {
  color: #7C3AED;
}

.hero-Sec p {
  font-size: 18px;
  color: #F3F4F6;
}

.hero-Sec button {
  margin-top: 20px;
  font-size: 18px;
  font-weight: 700;
  padding: 20px 40px;
  border: none;
  border-radius: 10px;
  background-color: #7C3AED;
  color: white;
  cursor: pointer;
}

.hero-Sec button:active {
  scale: 0.95;
}


.box {
  height: 100%;
  width: 100%;
  cursor: none;
  background: radial-gradient(250px at var(--x) var(--y), transparent, rgba(0, 0, 0, 0.911));
  position: absolute;
}